<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>撰写文章</title>

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/main.css">
<!--引入wangEditor.css-->
<link rel="stylesheet" type="text/css" href="../css/wangEditor-1.3.12.css">


<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/write.js"></script>

</head>
<body>
	<div id="wrap">
		<div id="pageBody">
			<div class="container">
				<div class="row">
					<form class="form-horizontal" role="form" action="../article" method="post">
						<div>
						    <input id="source" name="source" type="hidden" value="原创">
						    <input id="reference_id" name="reference_id" type="hidden">
						</div>
						<div id="typeDiv" class="form-group">
							<label for="article_type" class="col-sm-2 control-label">文章分类</label>
							<div class="col-sm-10 controls">
							    <select id="article_type" name="article_type"  class="form-control " style="width:200px">
							        <option value="原创发表">原创发表</option>
							        <option value="引用发表">引用发表</option>
							        <option value="言论">言论</option>
							        <option value="开心一刻">开心一刻</option>
							    </select>
							</div>
						</div>
						<div id="titleDiv" class="form-group">
							<label for="article_title" class="col-sm-2 control-label">文章标题</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="article_title"
									name="article_title" placeholder="请输入文章标题" required="required">
							</div>
						</div>
						<div id="quotationDiv" class="form-group" style="display:none">
							<label for="quotation" class="col-sm-2 control-label">引用内容</label>
							<div class="col-sm-10">
								<textarea id="quotation"  name="quotation" 
								     class="form-control"  rows="3"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="article_content" class="col-sm-2 control-label">文章内容</label>
							<div class="col-sm-10">
								<textarea id="article_content" name="article_content"
									class="form-control"  style="height:350px;max-height:500px"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-lg" >保存</button>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<button type="button" class="btn btn-default btn-lg" onclick="window.close();">取消</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<!--引入wangEditor.js，放在body最后，否则可能会出现问题-->
<script type="text/javascript" src="../js/wangEditor-1.3.12.min.js"></script>
<script type="text/javascript">
    $(function(){
    	//初始化textarea为富文本编辑器
    	var arry = new Array();
    	for(var i=1;i<100;i++){
    		arry.push("../expressions/"+i+".gif");
    	}
        var editor = $('#article_content').wangEditor({'expressions': arry});
    });
</script>
</html>